@import  url(sanitize.css);

.title h1{
    position: absolute;
    left: 300px;
    top: -5px;
    font-size: 25px;
    font-weight: bold;
}

.title img{
    margin: 0;
    height: 70px;
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
}

.Article{
    background-color: #fff;
    width: 800px;
    height: max-content;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding: 30px;
}

.Article h1{
    font-size: 50px;
}

.Article p{
    
}

.Trend h3{
    position: absolute;
    font-size: 15px;
    left: 1200px;
    top: 20px;
    margin: 0 5px 0 0;
}

.Trend a{
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
    color: black;
}

a.no-color-chenge{
    color: black;
}