.title h1{
    position: absolute;
    left: 300px;
    top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.title img{
    margin: 0;
    height: 70px;
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
}

.Menu h3{
    position: absolute;
    font-size: 15px;
    left: 1200px;
    top: 20px;
    margin: 0 5px 0 0;
    font-weight: bold;
}

.Menu a{
    text-decoration: none;
}



.ProfileSetting h1{
    text-align: center;
    margin-top: 20px;
}

.ProfileSetting{
    background-color: #fff;
    width: 800px;
    height: 800px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding: 30px;
}

input{
    position: absolute;
    top: 250px;
    left: 440px;
    font-size: 20px;
}

label{
    position: absolute;
    top: 400px;
    left: 440px;
    font-size: 40px;
}

textarea{
    position: absolute;
    top: 470px;
    left: 440px;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

button{
    position: absolute;
    top: 550px;
    left: 440px;
    font-size: 1.4em;
}

a:link, a:visited, a:hover, a:active{
    color: black;
}

a.no-color-chenge{
    color: black;
}